%h1 Listing spams

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @spams.each do |spam|
      %tr
        %td= link_to 'Show', spam
        %td= link_to 'Edit', edit_spam_path(spam)
        %td= link_to 'Destroy', spam, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Spam', new_spam_path
